extends base

block content 
  main.main
    if (!loginProhibition)
      .login-form
        h2.heading-secondary.ma-bt-lg Log into your account
        form.form
          .form__group
            label.form__label(for='email') Username or email address
            input#email.form__input(type='emailOrUsername', required)
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            button.btn.btn--green Login
    
    else
      h1= `You had too many failed sign in attempts. Please wait until ${loginProhibition.loginProhibitionTime} to sign in again.`

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js')
  if (!loginProhibition)
    script(src='/js/login.js')